@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  margin: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

h1 {
  font-size: 4.5rem;
  font-weight: 600;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
  opacity: 0; 
  animation: fadeInSlideUp 1s ease-out 0.5s forwards; 
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  opacity: 0; 
  animation: fadeInSlideUp 1s ease-out 1s forwards; 
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}